body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

@keyframes ldio-8gkvh0selg9 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-8gkvh0selg9 div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-8gkvh0selg9 linear 1s infinite;
  background: #1d3f72;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}
.ldio-8gkvh0selg9 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #1d3f72;
}
.ldio-8gkvh0selg9 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #1d3f72;
}
.loadingio-spinner-spinner-i0v9mjkuzo {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
}
.ldio-8gkvh0selg9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-8gkvh0selg9 div {
  box-sizing: content-box;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 71, 135, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
@keyframes modal {
  0% {
    top: 0;
  }
  100% {
    top: 50%;
  }
}

.modal {
  animation: modal 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .absolute-top_wrap {
    left: 50px !important;
    max-width: 85px !important;
  }
  .absolute-bottom_wrap {
    bottom: -85px !important;
    right: 50px !important;
    max-width: 85px !important;
  }
  .form-wrap {
    width: 700px !important;
    height: 450px !important;
  }
  .form-block {
    margin-top: 50px !important;
    margin-left: 60px !important;
  }
  .line {
    width: 40px !important;
  }
  .form-wrap > .form-block > h1 {
    font-size: 22px !important;
    margin-top: 20px !important;
    line-height: 35px !important;
  }
  .form-wrap > .form-block > p {
    font-size: 14px !important;
    line-height: 16px !important;
  }
  .input-wrap {
    width: 250px !important;
    height: 35px !important;
    margin-top: 20px !important;
  }
  .form-wrap > .form-block > button {
    width: 150px !important;
    height: 35px !important;
    margin-top: 25px !important;
  }
  .map-block {
    width: 550px !important;
    height: 450px !important;
  }
  .home-wrapper > .head-cell_wrap > .head-cell_item span {
    font-size: 16px !important;
  }
  .home-wrapper > .head-cell_wrap > .head-cell_item {
    flex: 8 !important;
  }
  .home-wrapper > .head-cell_wrap > .head-cell_item:last-child {
    flex: 1 !important;
  }
}

@media (min-width: 1200px) {
  .form-wrap {
    width: 1000px !important;
    height: 550px !important;
    border-radius: 30px !important;
  }
  .form-wrap > .form-block > h1 {
    font-size: 30px !important;
    margin-top: 50px !important;
    line-height: 32px !important;
  }
  .input-wrap {
    width: 330px !important;
    height: 45px !important;
    margin-top: 30px !important;
  }
  .map-block {
    width: 790px !important;
    height: 570px !important;
  }
  .home-wrapper > .between-block {
    flex-direction: row !important;
  }
  .home-wrapper > .between-block > .row-block {
    flex-direction: row !important;
  }
  .home-wrapper > .between-block > .row-block > .search-wrap {
    width: 320px !important;
  }
  .home-wrapper > .between-block > .row-block > .select-block {
    width: 550px !important;
    margin-top: 0 !important;
    margin-left: 30px !important;
  }
  .home-wrapper > .between-block > .create-user-btn {
    margin-top: 0 !important;
  }
}

@media (min-width: 1600px) {
  .form-wrap {
    width: 1280px !important;
    height: 685px !important;
    border-radius: 42px !important;
  }
  .form-block {
    margin-top: 80px !important;
    margin-left: 90px !important;
  }
  .line {
    width: 60px !important;
  }
  .form-wrap > .form-block > h1 {
    font-size: 40px !important;
    margin-top: 85px !important;
    line-height: 47px !important;
  }
  .form-wrap > .form-block > p {
    font-size: 20px !important;
    line-height: 23px !important;
  }
  .input-wrap {
    width: 385px !important;
    height: 55px !important;
    margin-top: 45px !important;
  }
  .form-wrap > .form-block > button {
    width: 180px !important;
    height: 45px !important;
    margin-top: 35px !important;
  }
  .map-block {
    width: 890px !important;
    height: 590px !important;
    right: 80px !important;
    bottom: 30px !important;
  }
}
